<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.bundle.css">
    <title>Coming Soon Soon</title>
</head>
<body>
<div class="container">
    <div class="coming-soon flex">
        <div class="coming-soon__desc">
            <img src="../static/img/logo.png" alt="logo">
            <h3>OUR WEBSITE IS</h3>
            <h2>Under Construction</h2>
            <p>Our website is currently scheduled maintenance. We thank you for your patience and hope to see you
                soon!</p>
            <form action="" class="subscribe flex">
                <input type="email" placeholder="yours@email.com" name="email">
                <button>Get Updates</button>
            </form>
            <p>And don’t worry, we hate spam too! You can unsubcribe at anytime.</p>
            <div class="coming-soon__social flex">
                <p>Stay in touch:</p>
                <a href="./"><img src="../static/img/ic-social-linkedin.png" alt=""></a>
                <a href="./"><img src="../static/img/ic-social-behance.png" alt=""></a>
                <a href="./"><img src="../static/img/ic-social-dribbbble.png" alt=""></a>
                <a href="./"><img src="../static/img/ic-social-telegram.png" alt=""></a>
            </div>
        </div>
        <iframe src="https://giphy.com/embed/JIX9t2j0ZTN9S" frameBorder="0" class="giphy-embed"
                allowFullScreen></iframe>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="../static/js/base.bundle.js"></script>
</body>
</html>