*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  outline: none;
}
.container{
  max-width: 1490px;
  padding: 0 25px;
  margin: 0 auto;
}
.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  &.active{
    display: flex;
  }
  &__block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;padding: 20px;
    max-width: 300px;
    width: 100%;
  }
}
.header{
  padding: 20px 0;
  border-bottom: 1px solid #000;
}
.footer{
  padding: 20px 0;
  border-top: 1px solid #000;
}
.content{
  flex: 1;
  padding: 20px 0;
  &-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
.btn{
  border-radius: 3px;
  border: 1px solid #000;
  position: relative;
  background-color: transparent;
  transition: color .3s;
  cursor: pointer;
  height: 25px;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    background-color: #000;
    border-radius: 3px;
    position: absolute;
    top: -1px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s;
    z-index: -1;
  }
  &:hover{
    color: #fff;
    &:before{
      transform: scaleX(1);
    }
  }
}
.filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  &-form{
    display: flex;
    align-items: center;
    flex: 1;
    &__select{
      width: 100px;
      height: 25px;
      background-color: transparent;
      border: 1px solid #000;
      border-radius: 3px;
    }
    &__search{
      position: relative;
      &::before{
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-image: url(./../img/ic-search.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        top: 5px;
        left: 5px;
      }
      .filter-form__field{
        padding-left: 30px;
        width: 200px;
        &::placeholder{
          color: #000;
        }
      }
    }
    &__field{
      border: 1px solid #000;
      border-radius: 3px;
      padding: 5px 10px;
    }
    &__label{
      display: block;
      &:not(:last-child){
        margin-right: 40px;
      }
    }
  }
  .create-btn{
    width: 50px;
  }
}
.create-task{
  display: flex;
  flex-direction: column;
  &__title{
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }
  &__label{
    margin-bottom: 20px;
  }
  &__field, select{
    border: 1px solid #000;
    border-radius: 3px;
    height: 25px;
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    &_textarea{
      height: 100px;
    }
  }
  &__btn{
    display: flex;
    button{
      flex: 1;
      &:first-child{
        margin-right: 20px;
      }
    }
  }
}
.tasks{
  display: flex;
  flex-wrap: wrap;
  &__block{
    border: 1px solid #000;
    border-radius: 3px;
    flex-basis: calc(33.33% - 10px);
    padding: 20px;
    margin-bottom: 15px;
    &:not(:nth-child(3n)){
      margin-right: 15px;
    }
  }
  &__title{
    font-size: 21px;
    margin-bottom: 10px;
  }
  &__desc{
    font-size: 14px;
    margin-bottom: 40px;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__priority{
    padding: 0 10px;
    border: 2px dashed #000;
    border-radius: 3px;
    font-size: 12px;
    line-height: 21px;

  }
  &__status{
    background: transparent;
    border: 1px solid #000;
    border-radius: 3px;
    height: 25px;
    width: 50px;
  }
}
@media screen and (max-width: 768px){
   .tasks{
     &__block{
       flex-basis: calc(50% - 7.5px);
       &:not(:nth-last-child(3n)){
         margin-right: 0;
       }
       &:not(:nth-last-child(2n)){
         margin-right: 15px;
       }
     }
   }
}
@media screen and (max-width: 480px){
  .filter{
    flex-direction: column;
    align-items: flex-start;
    &-form{
      flex-wrap: wrap;
      margin-bottom: 20px;
      width: 100%;
      &__label{
        &:not(:first-child){
          width: calc(50% - 20px);
        }
        &:first-child{
          margin-right: 0;
        }
      }
      &__select{
        width: 100%;
      }
      &__search{
        width: 100%;
        margin-bottom: 20px;
        .filter-form__field{
          width: 100%;
        }
      }
    }
  }
  .tasks{
    &__block{
      flex-basis: 100%;
      &:not(:nth-last-child(2n)){
        margin-right: 0px;
      }
    }
  }
}