@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

* {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: calc(100% - 200px);
    margin: 0 auto;
    padding: 0 30px;
}

.coming-soon {
    justify-content: space-between;
    padding: 10vh 0;
    height: 100vh;
    &__gif {
        height: 100%;
        max-width: 720px;
        width: 50%;
    }
    &__desc {
        max-width: 570px;
        flex: 1;
        width: calc(50% - 50px);
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > img {
            width: 188px;
            height: 40px;
            object-fit: contain;
            //margin-bottom: 4.7vh;
        }
        h3 {
            font-family: Montserrat;
            font-size: 26px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #a6a4b6;
            //margin-bottom: 3.8vh;
        }
        h2 {
            font-family: Montserrat;
            font-size: 70px;
            font-weight: 800;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #403f48;
            //margin-bottom: 3.8vh;
        }
        & > p {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.78;
            letter-spacing: normal;
            text-align: left;
            color: #7f7f7f;

        }
    }
    &__social {
        //margin-top:5.4vh;
        align-items: center;
        p {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #403f48;
            margin-right: 9px;
        }
        a {
            width: 38px;
            height: 38px;
            border: solid 2px #f0f0f4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 20px;
            &:hover {
                background-image: linear-gradient(124deg, #ffe53b, #ff2525);
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.subscribe {
    padding: 10px;
    border-radius: 70px;
    background-color: #f0f0f4;
    //margin-top: 4.4vh;
    //margin-bottom: 5vh;
    input {
        height: 50px;
        line-height: 50px;
        flex: 1;
        background-color: transparent;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #a6a4b6;
        padding: 0 20px;
    }
    button {
        width: 150px;
        height: 50px;
        border-radius: 35px;
        //background-image: linear-gradient(to right, #ffe53b, #ff2525);
        background-image: linear-gradient(to right, #ff2525 0%, #ffe53b 51%, #ff2525 100%);
        background-size: 200% auto;
        transition: .5s;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        cursor: pointer;

        &:hover {
            background-position: right center;
        }
    }
}

@media screen and (max-width: 1200px) {
    .coming-soon {
        height: auto;
        &__desc, &__gif {
            width: 100%;
        }
        &__gif {
            margin-top: 3.8vh;
        }
        &__desc {
            h3 {
                margin-bottom: 3.8vh;
            }
            h2 {
                margin-bottom: 3.8vh;
            }
            & > img {
                margin-bottom: 4.7vh;
            }
        }
        &__social {
            margin-top: 5.4vh;
        }
        .subscribe {
            margin-top: 4.4vh;
            margin-bottom: 5vh;
        }
    }
}

@media screen and (max-width: 768px) {
    .almo__desc {
        margin-bottom: 50px;
        max-width: 100%;
    }
    iframe {
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .almo__desc {
        h2 {
            font-size: 40px;
        }
    }
}